doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet", href="/email.css", data-inline)
  body
    h2= "Thank you for your purchase - Order No " + noOrder
    table
      thead
        tr  
          th= 'Product'
          th= 'Quantity'
          th= 'Price'
      tbody
        each item in items
          tr
            td
              figure
                div
                  img(src=item.image alt=item.name)
                figcaption
                  p= item.name + ' ' + item.size
            td
              p= item.quantity.$numberInt
            td
              p= '$' + item.price.$numberDecimal
    h2= 'Total : $' + total.$numberInt
